<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    throwConfigExceptions="true"
    internalLogLevel="Info"
    internalLogFile="c:\temp\xnlog-Internal.log">
    <!--internalLogFile="${currentdir}\nlog-Internal.log">-->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!--<targets async ="true">-->
  <targets async="true">
    <target xsi:type="Null" name="blackhole" />
    <!--fileName="${currentdir}\logs\fsLog-${shortdate}.log"--> 
    <target xsi:type="File" name="fightSearchLog" 
        
        fileName="c:\temp\logs\fsLog-${shortdate}.log" 
        layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring} ${all-event-properties}"/>
    <target xsi:type="ColoredConsole" name="consoleTarget" useDefaultRowHighlightingRules ="true" layout="${level:uppercase=true}|${message} ${exception:format=tostring}|${logger}|${all-event-properties}" >
      <!--<highlight-word backgroundColor="Red" foregroundColor="Black" text="String" wholeWords="false" compileRegex="false"/>-->
      <!--<highlight-word backgroundColor="Red" foregroundColor="Black" text="String" wholeWords="false" compileRegex="false"/>-->
    </target>
    
  </targets>

  <rules>
    
    <logger name="*" minlevel="info" writeTo="fightSearchLog"/>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true"/>
    <logger name="*" minlevel="info" writeTo="consoleTarget"/>
       
    
  </rules>
</nlog>